<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/pp2.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Yasin Cüre
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Profili Düzenle</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-home"></i>
					<p>Ana Sayfa</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/AboutList/">
					<i class="la la-table"></i>
					<p>Hakkımda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ToDoList/Index">
					<i class="la la-bell"></i>
					<p>Yapılacaklar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Experience/ExperienceList/">
					<i class="la la-apple"></i>
					<p>Deneyimlerim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Skill/SkillList/">
					<i class="la la-star"></i>
					<p>Yeteneklerim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Statistic/Index/">
					<i class="la la-bar-chart"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Testimonial/TestimonialList">
					<i class="la la-users"></i>
					<p>Referanslar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Portfolio/Index/">
					<i class="la la-thumb-tack"></i>
					<p>Portfolyo</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia/SocialMediaList">
					<i class="la la-instagram"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Inbox/">
					<i class="la la-envelope-o"></i>
					<p>Gelen Kutusu</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/Index/">
					<i class="la la-fonticons"></i>
					<p>İletişim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="typography.html">
					<i class="la la-times-circle"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>