@model About
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Hakkındalar</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Hakkında Güncelleme Sayfası</div>
					</div>
					<div class="card-body">

						<form method="post">
							<input type="hidden" asp-for="AboutId" />
							<label>Başlık</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Alt Başlık</label>
							<input type="text" asp-for="SubDescription" class="form-control" />
							<br />
							<label>Detaylar</label>
							<textarea rows="4" class="form-control" asp-for="Details"></textarea>
							<br />
							<button class="btn btn-warning">Hakkındayı Güncelle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>