@model List<MyPortfolio.DAL.Entities.SocialMedia>
<ul class="home-social">
    @foreach (var item in Model)
    {
        <li>
            <a href="@item.Url"><i class="@item.Icon" style="font-size:30px;"></i><span>@item.Title</span></a>
        </li>
    }
</ul>